<div class="row">
  <div class="col s6 offset-m3 ">
    <div class="card #eeeeee grey lighten-3">
      <div class="card-content mako">
        <span class="card-title">Select Pi</span>
        <form action="#">
          <p>
            <input name="group1" type="radio" id="test1" />
            <label for="test1">Red</label>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col 12 m12">
    <button type="button" ng-click="vm.buttonFetchPis()">Fetch All Pi's</button>
  </div>
</div>
