<div class="row" ng-init="vm.fetchPis()">
  <div class="col s6 offset-m3 ">
    <div class="card #eeeeee grey lighten-3">
      <div class="card-content mako">
        <span class="card-title">Select Pi</span>
        <form action="#" ng-repeat="pi in vm.pis">
          <p>
            <input class="with-gap" id="{{pi[0].id}}" name="{{pi[0].id}}" ng-click="vm.fetchPi(pi[0])" type="radio"/>
            <label for="{{pi[0].id}}">{{pi[0].name}}</label>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="vm.pi">
  <div class="col s6 offset-m3 ">
    <div class="card #eeeeee grey lighten-3">
      <div class="card-content mako">
        <span class="card-title">Scheduling</span>
        <div class="switch">
          <label>
            Timer
            <input type="checkbox" ng-model="checked">
            <span class="lever"></span>
            Automatic
          </label>
        </br></br>
          <form ng-hide="checked" action="#">
            <button type="button" name="button">Timer</button>
          </form>
          <form ng-show="checked" action="#">
            <p ng-if="slider">
              {{slider}}%
            </p>
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" ng-model="slider" />
            </p>
            <button class="waves-effect waves-light btn"   type="button" name="automation" ng-click="vm.setAutomation()">Set</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row" ng-if="vm.pi">
  <div class="col s8 offset-m2 ">
    <div class="card #eeeeee grey lighten-3">
      <div class="card-content mako">
        <span class="card-title">{{vm.pi.name}}
          Data</span>
        <div class="content_scroll">
          <table>
            <thead>
              <tr>
                <th data-field="number">Date</th>
                <th data-field="number">Temperature (F)</th>
                <th data-field="number">Humidity</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="set in vm.airSets[0]">
                <td>{{set.created_at}}</td>
                <td>{{set.temp}}</td>
                <td>{{set.humidity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </br>
      <div class="content_scroll">

        <table >
          <thead>
            <tr>
              <th data-field="number">Date</th>
              <th data-field="number">Humidity</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="set in vm.soilSets[0]">
              <td>{{set.created_at}}</td>
              <td>{{set.humidity}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </br>
    <div class="content_scroll">

      <table>
        <thead>
          <tr>
            <th data-field="number">Date</th>
            <th data-field="number">Lux</th>
            <th data-field="number">IR</th>
            <th data-field="number">Visible</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="set in vm.lightSets[0]">
            <td>{{set.created_at}}</td>
            <td>{{set.lux}}</td>
            <td>{{set.ir}}</td>
            <td>{{set.visible}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
