<!doctype html>
<html lang="en" ng-app='plantApp'>

  <head>
    <meta charset="UTF-8">
    <title>Plant Perfect IoT</title>
    <link href="/css/main.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/angular-chart.js/dist/angular-chart.css">
    <script src="/angular/angular.min.js" type="text/javascript"></script>
    <script src="/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src="/angular-resource/angular-resource.min.js" type="text/javascript"></script>
    <script src="/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="/Chart.js/Chart.min.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.js"></script>
    <script src="/app/app.js" type="text/javascript"></script>
    <script src="/app/components/navbar.js" type="text/javascript"></script>
    <script src="/app/navbar/main.js" type="text/javascript"></script>
    <script src="/app/plant/plant.js" type="text/javascript"></script>
    <script src="/app/services/data.js" type="text/javascript"></script>
  </head>

  <body>
    <navbar></navbar>
    <ng-view>
  </body>


</html>
