body {
  background-image: url('/app/images/bg.png');
  background-repeat: no-repeat;
}

#title{
  color: #eeeeee;
  margin-top: 25vh;
}

#leaf-logo{
  display: block;
  margin: 0 auto;
  height: 300px;
}

#main-content{
  margin-top: 100vh;
}
.mako{
  color: #454E54;
}

.content_scroll{
  overflow-y: scroll;
  max-height: 300px;
}
